@charset "UTF-8";

/* --------------------------------------------------
	SiteName : familyMart
	FileName : master.css
	Description : master style
	Prefix: elm(=elementary)
	
	== TOC =========================================
	1 : main content
	
-------------------------------------------------- */

html{}
body
{
	color: #333333;

}

img{
	max-width: 100%;
}

.container{
	position: fixed;
	width: 100%;
	height: 100%;
	background: url("../images/bg-container.jpg") center top no-repeat;
}

.container > .top-bg{
	background: url("../images/bg-home.png") left bottom no-repeat;
	height: 100%;
	width: 1010px;
	margin: 0 auto;
	position: relative;
}

.boder-bottom{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background: #009ada;
}

/* 1 : main content
================================================== */

.zone{
	height: 100%;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 10px;
}

.heading,
.khai-truong,
.hai-long,
.chia-se,
.ball1,
.ball2,
.footer-note{
	position: absolute;
}

.heading{
	top: 10%;
	right: 60px;
}

.buble{

}

.khai-truong{
	top: 20%;
	left: 175px;
	width: 162px;
	height: 162px;
}

.hai-long{
	left: 590px;
	top: 65%;
	width: 124px;
	height: 124px;
}

.chia-se{
	top: 45%;
	left: 660px;
	width: 115px;
	height: 115px;
}

.ball1{
	top: 35%;
	left: 600px;
	width: 80px;
	height: 80px;
}

.ball2{
	top: 50%;
	left: 570px;
	width: 40px;
	height: 40px;
}

.footer-note{
	left: 0;
	bottom: 0;
}